<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <% if (error === '403') { %>
    <h5 style="color: red;">403 Error - Forbidden</h5>
  <% } %>
  <% if (error === '400') { %>
    <h5 style="color: red;">400 Error - Bad Request</h5>
  <% } %>
  <% if (error === 'Already Registered') { %>
    <h5 style="color: red;">Already Registered! Please Login</h5>
  <% } %>
</body>
</html>